.col{
    padding: 0px;
}
.block{
    height: 200px;
    background-color: black;
    color: white;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-transparent{
    background-color: rgba(0, 0, 0, 0.123);
}