.logo{
    width: 350px;
    height: 350px;
    padding: 10px;
}
h1{
    color: white;
    font-size: 75px;
    text-align: center;
}
.main{
    background: linear-gradient(#e66465, #52589c);

}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-box{
    width: 350px;
    height: 500px;
    background-color: bisque;
    margin: 10px;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    display: flex;
}
