
.section{
    height: 100vh;
    background-image: url(/background.jpg);
    background-size: cover;
}
.footer{
    color: white;
    height: 8vh;
    background-color:  rgb(49, 49, 49);
    padding: 0;
}
.links{
    margin-left: 40px;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    text-align: center;
    align-items: center;
    height: 300px;
    
}
.title{
    color: white;
    font-family: fantasy;
    font-size: 10rem;
}