
.section{
    height: 100vh;
    background: linear-gradient(#ff5e5e, #121a77);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar.is-info {
    background-color:  #1c3144;
    color: #fff;
}

.footer{
    color: white;
    height: 8vh;
    background-color:  #1c3144;
    padding: 0;
}
.links{
    margin-left: 40px;
}
.center{
    display: flex;
    text-align: center;    
    flex-direction: column;
}
.title{
    color: white;
    font-family: fantasy;
    font-size: 7rem;
}
