@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: theme('colors.background');
  color: theme('colors.primary');
} */
.typewriter {
  font-family: Arial, Helvetica, sans-serif;
  /* color: #fff; */
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 50%;
}

.typewriter span {
  color: theme('colors.primary');
  border-right: solid theme('colors.primary') 5px;
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from {
    border-color: theme('colors.primary');
  }
  to {
    border-color: transparent;
  }
}
