@import 'variables.scss';
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
body{
    background-color: $base;
    color: $primary;
    background-color: $base;
    
}
.about {        
    display: flex;
    align-items: center;
    height: 40vh;
    margin-top: 4rem;
    img {
        width: 200px;
        height: 200xp;
        border-radius: 100%;
        display: none;
    }
    font-family: 'Red Hat Display', sans-serif;
    // opacity: 0.1;
    // background-image:  linear-gradient(#444cf7 2px, transparent 2px), linear-gradient(90deg, #444cf7 2px, transparent 2px), linear-gradient(#444cf7 1px, transparent 1px), linear-gradient(90deg, #444cf7 1px, #e5e5f7 1px);
    // background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    // background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; 
}


.heading {
  color: aqua
}
.heading:hover {  
  text-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;  
  transition: color  .1s
}




.projects {    
    display: flex;
    min-height: 50vh;
    justify-content: center;       

}
.footer {
  a:hover {
    color:#FFEE63;
    transition: color 0.5s;
  }
}
.carousel-inner > .item > img {
    min-width: 100%;
    width: 100%;
  }

.jumbotron{    
    background-color: #045de9;
    background-image: linear-gradient(315deg, #06347e 0%, #049ec9 74%);
    height: 50vh;    
    justify-content: center;
    font-family: 'Shadows Into Light', cursive;
    #particles-js {
        position: absolute;
        top: 100px;
        width: 95%;
        height: 350px;
    }
    .content {
        color: $base;
        border-radius: 2rem;
        padding: 2rem;
        text-align: center;
    }
}

.card {
  color: black;
  background-color: #FFEE63;
}
.card:hover {
    
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


@media (min-width: 576px) { 
    
    .about {        
        display: flex;
        align-items: center;
        height: 50vh;
        margin-top: 4rem;
        img {
            width: 400px;
            height: 400xp;
            border-radius: 100%;
            display: block;
        }
    }
 }

 a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
  }
  a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
  .hover-3 {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
  }
  .hover-3:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $highlight;
    transform: translateX(-100%);
  }
  .hover-3:hover:before {
    transform: translateX(0);
  }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }