@import 'variables.scss';

body{
    background-color: $base;
    color: $primary;
}
.about {        
    display: flex;
    align-items: center;
    height: 50vh;
    margin-top: 4rem;
    img {
        width: 200px;
        height: 200xp;
        border-radius: 100%;
        display: none;
    }
}


.projects {    
    display: flex;
    min-height: 50vh;
    justify-content: center;    
}

.jumbotron{
    background-color: #333385;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #dd9a52 24px ), repeating-linear-gradient( #2890ca55, #2890ca );
    height: 60vh;
    .content {
        color: $base;
        background-color: #313131c7;
        border-radius: 2rem;
        padding: 2rem;
        text-align: center;
    }
}

@media (min-width: 576px) { 
    
    .about {        
        display: flex;
        align-items: center;
        height: 50vh;
        margin-top: 4rem;
        img {
            width: 400px;
            height: 400xp;
            border-radius: 100%;
            display: block;
        }
    }
 }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }